{#
{% extends 'base.html.twig' %}

{% block title %}Edit Inventory{% endblock %}

{% block body %}
    <h1>Edit Inventory</h1>

    {{ include('inventory/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('inventory_index') }}">back to list</a>

    {{ include('inventory/_delete_form.html.twig') }}
{% endblock %}
#}

{% extends 'base.html.twig' %}

{% block title %} {{ app.user.email|upper }} {% endblock %}
{% block body_class %} class="nav-md" {% endblock %}

{% block body %}
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col hidden-print">
                {% include('layouts/sidebar.html.twig') %}
            </div>
            {% include('layouts/navbar.html.twig') %}
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="page-title">
                    <div class="title_left">
                        <h3>{{ "Edit inventory"|trans }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_content">
                                <br/>
                                {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left'}}) }}

                                <div class="form-group"> <!-- Date input -->
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ "Date"|trans }}
                                    </label>
                                    <div class="col-md-4 col-sm-4 col-xs-8">
                                        <span id="js-datepicker">{{ form_widget(form.date) }}</span>
                                        <div class="invalid-feedback text-danger">{{ form_errors(form.date) }}</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ "Article name"|trans }}
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ form_widget(form.article,{'attr': {'class':'form-control col-md-7 col-xs-12'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ " Qty inventory"|trans }}
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ form_widget(form.qty_inv,{'attr': {'class':'form-control col-md-7 col-xs-12'} }) }}
                                    </div>
                                    <span data-color="red" id="reference_result"></span>
                                    <div class="invalid-feedback text-danger">{{ form_errors(form.qty_inv) }}</div>

                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ " Qty stock"|trans }}
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ form_widget(form.qty_stk,{'attr': {'class':'form-control col-md-7 col-xs-12'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ "State"|trans }}
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ form_widget(form.state,{'attr': {'class':'form-control col-md-7 col-xs-12'} }) }}
                                    </div>
                                </div>

                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">

                                        {{ include('inventory/_form.html.twig') }}

                                        <a href="{{ path('inventory_index') }}" class="btn btn-default" data-toggle="popover"><i class="fa fa-backward" style="margin-left: 2rem"></i>{{ "back to list"|trans }}</a>
                                    </div>
                                </div>

                                {{ form_end(form) }}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include('layouts/footer.html.twig') %}
        </div>
    </div>

{% endblock %}
