
{% extends 'base.html.twig' %}

{% block title %} {{ app.user.email|upper }} {% endblock %}
{% block body_class %} class="nav-md" {% endblock %}

{% block body %}
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col hidden-print">
                {% include('layouts/sidebar.html.twig') %}
            </div>
            {% include('layouts/navbar.html.twig') %}
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="page-title">
                    <div class="title_left">
                        <h3>{{ "Details of inventories"|trans }}</h3>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="row">

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_content">
                                <fieldset>
                                    <table class="table table-bordered">
                                        <tbody>
                                        <tr>
                                            <th>{{ "Date"|trans }}</th>
                                            <td>{{ inventory.date ? inventory.date|date('Y-m-d ') : '' }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </fieldset>
                               {# <div class="form-group">
                                    <div class="ln_solid"></div>
                                    #}{#<a href="{{ path('line_inventory_new',{'id': inventory.id}) }}"class="btn btn-primary"><i class="fa fa-plus" style="margin-left: 2rem"></i>{{ "Create new line inventory"|trans }}</a>#}{#
                                    <a href="{{ path('inventory_edit', {'id': inventory.id}) }}" class="btn btn-primary"><i class="fa fa-edit" style="margin-left: 2rem"></i>{% trans %} Update {% endtrans %}</a>

                                    {{ include('inventory/_delete_form.html.twig') }}

                                    <a href="{{ path('inventory_index') }}" class="btn btn-default" data-toggle="popover"><i class="fa fa-backward" style="margin-left: 2rem"></i>{% trans %} back to list {% endtrans %}</a>

                                </div>#}
                                <div class="form-group">
                                     <a href="{{ path('inventory_index') }}" class="btn btn-default" data-toggle="popover"><i class="fa fa-forward" style="margin-left: 2rem"></i>{% trans %} back to list {% endtrans %}</a>

                                    <div class="col-md-2 col-sm-2 col-xs-2 col-md-offset-3">
                                        {{ include('inventory/_delete_form.html.twig') }}
                                    </div>
                                    <a href="{{ path('inventory_edit', {'id': inventory.id}) }}" class="btn btn-primary"><i class="fa fa-edit" style="margin-left: 2rem"></i>{% trans %} Update {% endtrans %}</a>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_content">
                                <a href="{{ path('line_inventory_new',{'id': inventory.id}) }}" class="btn btn-success left">
                                    <i class="fa fa-plus-square" style=" margin-left: 2rem "></i>{{ "Create new line inventory"|trans }}</a>

                                <table id="datatable-buttons" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>{{ "Article name"|trans }}</th>
                                        <th>{{ "Qty_th"|trans }}</th>
                                        <th>{{ "Qty_inv"|trans }}</th>
                                        <th>{{ "Difference"|trans }}   </th>
                                        {#<th>{{ "actions"|trans }}</th>#}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for line_inventory in inventory.lineInventories %}
                                        <tr>
                                            <td>{{ line_inventory.article }}</td>
                                            <td>{{ line_inventory.qtyTh }}</td>
                                            <td>
                                            {{ line_inventory.linestock.qtyInv }}</td>
                                            <td>{% for lineStock in line_inventory.lineStock %}
                                            {# {{ line_inventory.qtyTh - line_inventory.linestock.qtyInv }} #}
                                            {{ line_inventory.difference }}</td>
                                           {# <td>
                                                #}{#<a href="{{ path('line_inventory_show', {'id': line_inventory.id}) }}" class="btn btn-default" data-toggle="popover"><i class="fa fa-eye" style="margin-left: 2rem"></i>{{ "show"|trans }}</a>
                                                <a href="{{ path('line_inventory_edit', {'id': line_inventory.id}) }}" class="btn btn-primary"><i class="fa fa-pencil" style="margin-left: 2rem"></i>{% trans %} Update {% endtrans %}</a> #}{#

                                            </td>#}
                                        </tr>
                                    {% else %}
                                        <tr class="text-center">
                                            <td colspan="4">{{ "no records found"|trans }}</td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {% include('layouts/footer.html.twig') %}
    </div>
    </div>
{% endblock %}
