
{% extends 'base.html.twig' %}

{% block title %} {{ app.user.email|upper }} {% endblock %}
{% block body_class %} class="nav-md" {% endblock %}

{% block body %}
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col hidden-print">
                {% include('layouts/sidebar.html.twig') %}
            </div>
            {% include('layouts/navbar.html.twig') %}
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="page-title">
                    <div class="title_left">
                        <h3>{{ " Edit user"|trans }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_content">
                                <br/>
                                {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left'}}) }}

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ "Company"|trans }}
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ form_widget(form.company,{'attr': {'class':'form-control col-md-7 col-xs-12'} }) }}
                                        {# Affichage des erreurs pour ce champ précis. #}
                                        <div class="invalid-feedback text-danger">{{ form_errors(form.company) }}</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ "Director"|trans }}
                                        {#<span class="required">*</span>#}
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ form_widget(form.director,{'attr': {'class':'form-control col-md-7 col-xs-12'} }) }}
                                        {# Affichage des erreurs pour ce champ précis. #}
                                        <div class="invalid-feedback text-danger">{{ form_errors(form.director) }}</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ " RIB"|trans }}
                                        {#<span class="required">*</span>#}
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ form_widget(form.rIB,{'attr': {'class':'form-control col-md-7 col-xs-12'} }) }}
                                        {# Affichage des erreurs pour ce champ précis. #}
                                        <div class="invalid-feedback text-danger">{{ form_errors(form.rIB) }}</div>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ "Address"|trans }}
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ form_widget(form.address,{'attr': {'class':'form-control col-md-7 col-xs-12'} }) }}
                                        {# Affichage des erreurs pour ce champ précis. #}
                                        <div class="invalid-feedback text-danger">{{ form_errors(form.address) }}</div>
                                    </div>
                                </div>

                                <div class="form-group" >
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ "City"|trans }}
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ form_widget(form.city,{'attr': {'class':'form-control col-md-7 col-xs-12'} }) }}
                                        {# Affichage des erreurs pour ce champ précis. #}
                                        <div class="invalid-feedback text-danger">{{ form_errors(form.city) }}</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ "Phone"|trans }}
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ form_widget(form.phone,{'attr': {'class':'form-control col-md-7 col-xs-12'} }) }}
                                        {# Affichage des erreurs pour ce champ précis. #}
                                        <div class="invalid-feedback text-danger">{{ form_errors(form.phone) }}</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ "Email"|trans }}
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ form_widget(form.email,{'attr': {'class':'form-control col-md-7 col-xs-12'} }) }}
                                        {# Affichage des erreurs pour ce champ précis. #}
                                        <div class="invalid-feedback text-danger">{{ form_errors(form.email) }}</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ "Password"|trans }}
                                        <span class="required">*</span>
                                    </label>
                                   {# <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ form_widget(form.password,{'attr': {'class':'form-control col-md-7 col-xs-12'} }) }}
                                        #}{# Affichage des erreurs pour ce champ précis. #}{#
                                        <div class="invalid-feedback text-danger">{{ form_errors(form.password) }}</div>
                                    </div>#}
                                </div>

                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">

                                        {{ include('profile/_form.html.twig') }}

                                        <a href="{{ path('profile') }}" class="btn btn-default" data-toggle="popover"><i class="fa fa-backward" style="margin-left: 2rem"></i>{{ "back "|trans }}</a>
                                    </div>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include('layouts/footer.html.twig') %}
        </div>
    </div>

{% endblock %}

