{% extends 'base.html.twig' %}

{% block title %}تسجيل الدخول{% endblock %}
{% block body_class %} class="login" {% endblock %}
{% block body %}
<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>
    <a class="hiddenanchor" id="reset"></a>

    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form method="post">
                    <h1> تسجيل الدخول</h1>
                    <div>
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">الخروج</a>
                            </div>
                        {% endif %}
                    </div>
                    <div>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="البريد الإلكتروني" required autofocus />
                    </div>
                    <div>
                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="كلمه السر" required="" />
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <div>
                        <button type="submit" class="btn btn-default submit">تسجيل الدخول</button>
                        {#<a class="reset_pass" href="#reset">نسيت كلمة المرور</a> </div>#}
                        <a class="reset_pass" href="{{ path('reset_index') }}">نسيت كلمة المرور</a> </div>
                    <div class="clearfix"></div>

                    <div class="separator">
                        <div class="clearfix"></div>
                        <br />
                        <div>
                            {# <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1> #}
                            <p>©2019 كل الحقوق محفوظة</p>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
        {#<form method="post">#}

    {#<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>#}
    {#<label for="inputEmail" class="sr-only">Email</label>#}
    {#<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>#}
    {#<label for="inputPassword" class="sr-only">Password</label>#}
    {#<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>#}

    {#<input type="hidden" name="_csrf_token"#}
           {#value="{{ csrf_token('authenticate') }}"#}
    {#>#}

    {##}
        {#Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
        {#See https://symfony.com/doc/current/security/remember_me.html#}

        {#<div class="checkbox mb-3">#}
            {#<label>#}
                {#<input type="checkbox" name="_remember_me"> Remember me#}
            {#</label>#}
        {#</div>#}
    {##}

    {#<button class="btn btn-lg btn-primary" type="submit">#}
        {#Sign in#}
    {#</button>#}
{#</form>#}
{% endblock %}
