<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
        <a href="{{ path('app_index') }}" class="site_title"> <span>المطعم المدرسي</span></a>
    </div>

    <div class="clearfix"></div>
    {#
       <!-- menu profile quick info -->
       <div class="profile clearfix">
           <div class="profile_pic">
               <img src="{{ asset('build/images/img.jpg')}}" alt="..." class="img-circle profile_img">
           </div>
          <div class="profile_info">
               <span>مرحبا</span>
               <h2>منسق المطعم</h2>
           </div>
       </div>
       <!-- /menu profile quick info -->
   #}
    <br/>

    <!-- sidebar menu -->
    {% set route = app.request.get('_route') %}

    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <h3>اللوحة الرئيسية</h3>
            {% if is_granted('ROLE_SUPER_ADMIN')== false %}
            <ul class="nav side-menu">
                <li><a><i class="fa fa-home"></i> معطيات عامة <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu"  {% if  'institution_' in route
                                                   or 'budget_' in route
                                                   or 'category_' in route
                                                   or 'article_' in route
                                                   or 'supplier_' in route
                                                   or 'employee_' in route%}class= "current"
                                                    style="display: block;"{% endif %}>

                         <li><a href="{{ path('institution_show') }}">المؤسسة</a></li>
                        <li><a href="{{ path('category_new') }}">الاصناف</a></li>
                        <li><a href="{{ path('article_new') }}">المواد</a></li>
                        <li><a href="{{ path('supplier_new') }}">المزودين</a></li>
                        <li><a href="{{ path('employee_new') }}"> الموظفين</a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-shopping-cart"></i> المشتريات <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" {% if 'request_supplied_' in route or 'commission_' in route
                                                or 'purchase_' in route %}
                                                style="display: block;"{% endif %}>
                        <li><a href="{{ path('demand_index') }}">طلب تزوّد</a></li>
                        <li><a href="{{ path('commission_new') }}">لجنة قبول المواد</a></li>
                        <li><a href="{{ path('purchase_index') }}">جدول المشتريات</a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-cubes"></i> المخزون <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" {% if 'line_stock_' in route %} style="display: block;"{% endif %}>
                        <li><a href="{{ path('line_stock_stocki') }}">المخزون الاولي</a></li>
                        <li><a href="{{ path('line_stock_index') }}">كامل المخزون </a></li>
                        <li><a href="{{ path('line_stock_valid') }}">صلوحية المواد</a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-arrow-up"></i> خروج المواد <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" {% if 'exitt_' in route %} style="display: block;"{% endif %}>
                        <li><a href="{{ path('exitt_index') }}">خروج جديد</a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-cutlery"></i> الأكلات <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" {% if 'menu_' in route or 'nb_meal_' in route or 'journal_' in route %}
                                                    class= "current" style="display: block;"{% endif %}>
                        <li><a href="{{ path('menu_new') }}">  جدول الاكلات </a></li>
                        <li><a href="{{ path('nb_meal_new') }}">عدد الاكلات الموزعة</a></li>
                        <li><a href="{{ path('journal_new') }}">  الصحيفة اليومية </a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-clone"></i> جرد المخزون <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{{ path('inventory_index') }}">الجرد اليومي</a></li>
                    </ul>
                </li>
            </ul>
            
        

        {% elseif is_granted('ROLE_SUPER_ADMIN') %}
        <div class="menu_section">
            <ul class="nav side-menu">
                <li><a><i class="fa fa-home"></i> الادارة <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu"  {% if  'admin_' in route %} style="display: block;"{% endif %}>
                        <li><a href="{{ path('admin_list') }}"><i class="fa fa-user"></i>الادمين</a></li>
                    </ul>
                </li>

                <li><a><i class="fa fa-users"></i> المستخدمين <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" {% if  'user_' in route or 'super_user_' in route %} class= "current" style="display: block;"{% endif %}>
                        <li><a href="{{ path('user_list') }}"><i class="fa fa-user"></i> قائمة المستخدمين المراقبين</a></li>
                                            <li><a href="{{ path('user_list') }}"><i class="fa fa-user"></i>قائمة المستخدمين</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        {% endif %}

    </div>
</div>
</div>