

{% extends 'base.html.twig' %}

{% block title %} {{ app.user.email|upper }} {% endblock %}
{% block body_class %} class="nav-md" {% endblock %}

{% block body %}
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col hidden-print">
                {% include('layouts/sidebar.html.twig') %}
            </div>
            {% include('layouts/navbar.html.twig') %}
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="page-title">
                    <div class="title_left">
                        <h3>{{ "Supplier" |trans }}</h3>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2> {{ "Details" |trans }}</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th>{{ "Id" |trans }}</th>
                                        <td>{{ supplier.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ "Company" |trans }}</th>
                                        <td>{{ supplier.company }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ "Name" |trans }}</th>
                                        <td>{{ supplier.name }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ "Activity" |trans }}</th>
                                        <td>{{ supplier.activity }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ "Tax_number" |trans }}</th>
                                        <td>{{ supplier.taxNumber }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ "Phone" |trans }}</th>
                                        <td>{{ supplier.phone }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ "Address" |trans }}</th>
                                        <td>{{ supplier.address }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ "Email" |trans }}</th>
                                        <td>{{ supplier.email }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                               {# <div class="form-group col-lg-12">
                                    <div class="ln_solid"></div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <a href="{{ path('supplier_edit', {'id': supplier.id}) }}" class="btn btn-success"><i class="fa fa-edit" style="margin-left: 2rem"></i>{% trans %} Update {% endtrans %}</a>
                                        <a href="{{ path('supplier_index') }}" class="btn btn-primary"><i class="fa fa-backward" style="margin-left: 2rem"></i>{% trans %} back to list {% endtrans %}</a>
                                        {{ include('supplier/_delete_form.html.twig') }}                                    </div>
                                </div>#}
                                <div class="form-group col-lg-12">
                                    <div class="ln_solid"></div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <form method="post" action="{{ path('supplier_delete', {'id': supplier.id}) }}" onsubmit="return confirm('هل انت متأكد انك ترغب في حذف هذا العنصر؟');">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ supplier.id) }}">
                                            <button class="btn btn-danger"><i class="fa fa-trash " style="margin-left: 2rem"></i>{{  "Delete" | trans }}</button>
                                            <a href="{{ path('supplier_edit', {'id': supplier.id}) }}" class="btn btn-success"><i class="fa fa-edit" style="margin-left: 2rem"></i>{% trans %} Update {% endtrans %}</a>
                                            <a href="{{ path('supplier_index') }}" class="btn btn-primary"><i class="fa fa-backward" style="margin-left: 2rem"></i>{% trans %} back to list {% endtrans %}</a>

                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {% include('layouts/footer.html.twig') %}
        </div>
    </div>

{% endblock %}
