

{% extends 'base.html.twig' %}

{% block title %} {{ app.user.email|upper }} {% endblock %}
{% block body_class %} class="nav-md" {% endblock %}

{% block body %}
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col hidden-print">
                {% include('layouts/sidebar.html.twig') %}
            </div>
            {% include('layouts/navbar.html.twig') %}
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="page-title">
                    <div class="title_left">
                        <h3>{{ "Journals of meals"|trans }}</h3>
                    </div>

                    {#  <div class="title_right">
                          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                              <div class="input-group">
                                  <input type="text" class="form-control" placeholder="...البحث عن">
                                  <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">بحث</button>
                                  </span>
                              </div>
                          </div>
                      </div>#}
                </div>

                <div class="clearfix"></div>
                <div class="row">

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                               {# <h2> {{ "List of journal"|trans }}</h2>#}
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                           aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">تنظیمات 1</a></li>
                                            <li><a href="#">تنظیمات 2</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <p class="text-muted font-13 m-b-30">
                                    <a href="{{ path('journal_new') }}" class="btn btn-success"><i class="fa fa-plus" style="margin-left: 2rem"></i>{{  "Create new" | trans }} </a>
                                </p>
                               {# {% for message in app.flashes('notice') %}
                                    <div class="alert alert-success">
                                        {{ message }}
                                    </div>
                                {% endfor %}#}
                                <table id="datatable" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>{{  "Id" | trans }}</th>
                                        <th>{{  "Date" | trans }}</th>
                                        <th>{{  "Day" | trans }}</th>
                                        <th>{{  "Number of exit" | trans }}</th>
                                        {#<th>{{  "Number of meals" | trans }}</th>#}
                                        <th>{{  "Total costs" | trans }}</th>
                                        <th>{{  "Unit meal costs" | trans }}</th>
                                        <th>{{  "Remarque" | trans }}</th>
                                        <th>{{  "Actions" | trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for journal in journals %}
                                        <tr>
                                            <td>{{ journal.id }}</td>
                                            <td>{{ journal.date ? journal.date|date('y/m/d') : ''}}</td>
                                            <td>{{ journal.menu }}</td>
                                            <td>{{ journal.exitt }}</td>
                                            <td>{{ journal.totalCosts }}</td>
                                            {#<td>{{ journal.totalStudents }}</td>#}
                                            <td>{{ journal.unitCost }}</td>
                                            <td>{{ journal.remarque }}</td>

                                            <td>
                                                <a href="{{ path('journal_show', {'id': journal.id}) }} " class="btn btn-primary btn-block"><i class="fa fa-eye" style="margin-left: 2rem"></i>{{  "show" | trans }}</a>
                                                <a href="{{ path('journal_edit', {'id': journal.id}) }}" class="btn btn-warning btn-block"><i class="fa fa-edit" style="margin-left: 2rem"></i>{{  "edit" | trans }}</a>
                                                <a href="{{ path('journal_pdf', {'id': journal.id}) }}" class="btn btn-success btn-block"><i class="fa fa-print" style="margin-left: 2rem"></i>{{  "print" | trans }}</a>

                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="6">{{  "no records found" | trans }}</td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {% include('layouts/footer.html.twig') %}
        </div>
    </div>
    <div id="lock_screen">
        <table>
            <tr>
                <td>
                    <div class="clock"></div>
                    <span class="unlock">
                    <span class="fa-stack fa-5x">
                      <i class="fa fa-square-o fa-stack-2x fa-inverse"></i>
                      <i id="icon_lock" class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                </span>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
