{% extends 'base.html.twig' %}

{% block title %}LineExitt index{% endblock %}

{% block body %}
    <h1>LineExitt index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>Unit_price</th>
                <th>Tax</th>
                <th>Total_price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for line_exitt in line_exitts %}
            <tr>
                <td>{{ line_exitt.id }}</td>
                <td>{{ line_exitt.quantity }}</td>
                <td>{{ line_exitt.unitPrice }}</td>
                <td>{{ line_exitt.tax }}</td>
                <td>{{ line_exitt.totalPrice }}</td>
                <td>
                    <a href="{{ path('line_exitt_show', {'id': line_exitt.id}) }}">show</a>
                    <a href="{{ path('line_exitt_edit', {'id': line_exitt.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr class="text-center">
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('line_exitt_new') }}">Create new</a>
{% endblock %}
