
 {% extends 'base.html.twig' %}

{% block title %} {{ app.user.email|upper }} {% endblock %}
{% block body_class %} class="nav-md" {% endblock %}

{% block body %}
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col hidden-print">
                {% include('layouts/sidebar.html.twig') %}
            </div>
            {% include('layouts/navbar.html.twig') %}
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="page-title">
                    <div class="title_left">
                        <h3>{{ "List of purchase"|trans }}</h3>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                          {% include('layouts/flash-messages.html.twig') %}

                            <div class="x_content">
                             {% if is_granted('ROLE_ENTREPRISE') %}

                                <p class="text-muted font-13 m-b-30">
                                    <a href="{{ path('ajout-purchase') }}" class="btn btn-success left">
                                        <i class="fa fa-plus" style="margin-left: 2rem"></i>{{ "Create new"|trans }}</a>
                                </p>
                                <br>
                                <div class="ln_solid"></div>
                             {% endif %}
                                    <table  id="datatable" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>{{ "Date"|trans }}</th>
                                                <th>{{ "Number of purchase"|trans }}</th>
                                                <th>{{ "Supplier"|trans }}</th>
                                                <th>{{ "Benificiary"|trans }}</th>
                                                <th>{{ "Total price"|trans }}</th>
                                                <th>{{ "Actions"|trans }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for purchase in purchases %}
                                            <tr>
                                                <td>{{ purchase.date ? purchase.date|date('Y-m-d') : '' }}</td>
                                                <td>{{ purchase.number }}</td>
                                                <td>{{ purchase.supplier }}</td>
                                                <td>{{ purchase.employee }}</td>
                                                <td>{{ purchase.totalPrice }}</td>
                                                <td>
                                                    <a href="{{ path('purchase_show', {'id': purchase.id}) }}" class="btn btn-default" data-toggle="popover"><i class="fa fa-eye" style="margin-left: 2rem"></i>{{ "show"|trans }}</a>
                                                    <div class="btn-group">
                                                      <button class=" btn btn-info" data-toggle="dropdown">
                                                      <i class="fa fa-print" style="margin-left: 1rem"></i> <span class="caret"></span></button>
                                                      <ul class="dropdown-menu" role="menu">
                                                        <li><a href="{{ path('purchase_pdf', {'id': purchase.id}) }}">{{ "print purchase"|trans }}</a></li>
                                                        <li><a href="{{ path('receive_pdf', {'id': purchase.id}) }}">{{ "Print article receipt session"|trans }}</a></li>
                                                      </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr class="text-center">
                                                <td colspan="6">{{ "no records found"|trans }}</td>
                                            </tr>
                                                                        
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
            </div>
            {% include('layouts/footer.html.twig') %}
        </div>
    </div>
{% endblock %}
