{% extends 'base.html.twig' %}

{% block title %} {{ app.user.email|upper }} {% endblock %}
{% block body_class %} class="nav-md" {% endblock %}

{% block body %}

    <div hidden id="template_tmp">
        <div id="purchase_linePurchase___name__">
            <label class="required" >__name__label__ </label>
            <div class="row">
                <div class="col-md-2">
                    <label for="purchase_linePurchase___name___article" class="required ">المادة</label><select
                            id="purchase_linePurchase___name___article" class="form-control"
                            name="purchase[linePurchases][__name__][article]">
                         {% for article in articles %}
                             <option value="{{ article.id }}">{{ article.name }}</option> 
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="purchase_linePurchase___name___quantity_delivred" class="required"> الكمية  المسلمة</label><input
                            type="text" id="purchase_linePurchase___name___quantity_delivred" class=" form-control"
                            name="purchase[linePurchases][__name__][quantity_delivred]" required="required"/>
                </div>
                <div class="col-md-2">
                    <label for="purchase_linePurchase___name___quantity_required" class="required"> الكمية  المطلوبة</label><input
                            type="text" id="purchase_linePurchase___name___quantity_required" class=" form-control"
                            name="purchase[linePurchases][__name__][quantity_required]" required="required"/>
                </div>
                <div class="col-md-2">
                    <label for="purchase_linePurchase___name___unit_price" class="required">السعر الفردي
                    </label><input type="text" id="purchase_linePurchase___name___unit_price"
                                   class=" form-control"
                                   name="purchase[linePurchases][__name__][unit_price]"
                                   required="required"/>
                </div>
                <div class="col-md-1">
                    <label for="purchase_linePurchase___name___tax" class="required">TVA
                    </label><input type="text" id="purchase_linePurchase___name___tax"
                                   class=" form-control"
                                   name="purchase[linePurchases][__name__][tax]"
                                   required="required"/>
                </div>
                <div class="col-md-1">
                    <label for="purchase_linePurchase___name___technical_confirmity" class="required">م.فنيــة</label>
                    <input type="checkbox" id="purchase_linePurchase___name___technical_confirmity"
                           class=" form-control"
                           name="purchase[linePurchases][__name__][technical_confirmity]"
                           required="required"/>
                </div>
                <div class="col-md-3">
                    <label for="purchase_linePurchase___name___remarque" class="required">ملاحظة
                    </label><input type="text" id="purchase_linePurchase___name___remarque"
                                   class=" form-control"
                                   name="purchase[linePurchases][__name__][remarque]"
                                   required="required"/>
                </div>
                <div class="col-md-2">
                    <label for="purchase_linePurchase___name___production" >تاريخ الصنع
                    </label><input type="text" id="purchase_linePurchase___name___production"
                                   class="form-control datepicker"
                                   name="purchase[linePurchase][__name__][production]" required="required"/>
                </div>
                <div class="col-md-2">
                    <label for="purchase_linePurchase___name___validation" >تاريخ الانتهاء
                    </label><input type="text" id="purchase_linePurchase___name___validation"
                                   class="form-control"
                                   name="purchase[linePurchase][__name__][validation]"
                                   required="required"/>
                </div>

                <div class="col-md-1">
                    <a href="#" class="btn btn-danger" id="btn-delete">حذف</a>
                </div>
            </div>

        </div>
</div>

    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col hidden-print">
                {% include('layouts/sidebar.html.twig') %}
            </div>
            {% include('layouts/navbar.html.twig') %}
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="page-title">
                    <div class="title_left">
                        <h3>{{ "Create new purchases"|trans }}</h3>
                    </div>
                </div>

                <div class="clearfix">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>{{ "Create new purchases"|trans }}</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <br/>
                                    {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left'}}) }}

                                    <fieldset>
                                        <div class="row">
                                            <div class="well">
                                                {#{{ form_row(form.date) }}#}
                                                <div class="form-group">
                                                    {{ form_label(form.date, "Date"|trans, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                                    {{ form_errors(form.date) }}
                                                    <div class="col-sm-6">
                                                        {{ form_widget(form.date) }}
                                                    </div>
                                                </div>
                                                {# Génération manuelle et éclatée : #}
                                                <div class="form-group">
                                                    {# Génération du label. #}
                                                    {{ form_label(form.number, "Number of purchase"|trans, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                                    {# Affichage des erreurs pour ce champ précis. #}
                                                    {{ form_errors(form.number) }}
                                                    <div class="col-sm-6">
                                                        {# Génération de l'input. #}
                                                        {{ form_widget(form.number, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {# Génération du label. #}
                                                    {{ form_label(form.supplier, "Supplier"|trans, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                                    {# Affichage des erreurs pour ce champ précis. #}
                                                    {{ form_errors(form.supplier) }}
                                                    <div class="col-sm-6">
                                                        {# Génération de l'input. #}
                                                        {{ form_widget(form.supplier, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                {# Idem pour un autre champ. #}
                                                <div class="form-group">
                                                    {{ form_label(form.employee, "Benificiary"|trans, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                                    {{ form_errors(form.employee) }}
                                                    <div class="col-sm-6">
                                                        {{ form_widget(form.employee, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                               {# <div class="form-group">
                                                    {{ form_label(form.totalPrice, "Total price"|trans, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                                    {{ form_errors(form.totalPrice) }}
                                                    <div class="col-sm-6">
                                                        {{ form_widget(form.totalPrice, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>#}
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="row">
                                            <div class="well">
                                                {#{{ form_row(form.linePurchase) }}#}
                                                <div id="purchase_linePurchase"></div>
                                                <a href="#" id="add_linePurchase" class="btn btn-success m-10">{{ "Add new purchases"|trans }}</a>

                                            </div>
                                        </div>
                                    </fieldset>
                                    {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
                                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                                    {{ form_widget(form._token) }}
                                    {{ form_end(form, {'render_rest': false}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include('layouts/footer.html.twig') %}
            </div>
        </div>
    </div>

{% endblock %}


