{#
{% extends 'base.html.twig' %}

{% block title %}LineStock index{% endblock %}

{% block body %}
    <h1>LineStock index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Initial_quantity</th>
                <th>Quantity</th>
                <th>Quantity_alerte</th>
                <th>Valid_date</th>
                <th>Prod_date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for line_stock in line_stocks %}
            <tr>
                <td>{{ line_stock.id }}</td>
                <td>{{ line_stock.initialQuantity }}</td>
                <td>{{ line_stock.quantity }}</td>
                <td>{{ line_stock.quantityAlerte }}</td>
                <td>{{ line_stock.validDate ? line_stock.validDate|date('Y-m-d') : '' }}</td>
                <td>{{ line_stock.prodDate ? line_stock.prodDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('line_stock_show', {'id': line_stock.id}) }}">show</a>
                    <a href="{{ path('line_stock_edit', {'id': line_stock.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('line_stock_new') }}">Create new</a>
{% endblock %}
#}
{% extends 'base.html.twig' %}

{% block title %} {{ app.user.email|upper }} {% endblock %}
{% block body_class %} class="nav-md" {% endblock %}

{% block body %}
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col hidden-print">
                {% include('layouts/sidebar.html.twig') %}
            </div>
            {% include('layouts/navbar.html.twig') %}
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="page-title">
                    <div class="title_left">
                        <h3>{{ "Full stock"|trans }}</h3>
                    </div>

                   {# <div class="title_right">
                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="...البحث عن">
                                <span class="input-group-btn">
                                  <button class="btn btn-default" type="button">بحث</button>
                                 </span>
                            </div>
                        </div>
                    </div>#}
                </div>

                <div class="clearfix"></div>
                <div class="row">

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2> {{ "Table of stock"|trans }}</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                           aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">تنظیمات 1</a></li>
                                            <li><a href="#">تنظیمات 2</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <p class="text-muted font-13 m-b-30">
                                    {#<a href="{{ path('line_stock_today') }}" class="btn btn-success"><i class="fa fa-plus" style="margin-left: 2rem"></i>{{  "Stock today" | trans }} </a>#}

                                    {#<a href="{{ path('line_stock_new') }}" class="btn btn-success"><i class="fa fa-plus" style="margin-left: 2rem"></i>{{  "Add article" | trans }} </a>#}

                                </p>
                                <table id="datatable" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>{{ "Id"|trans }}</th>
                                            <th>{{ "Date"|trans }}</th>
                                            <th>{{ "Article in stock"|trans }}</th>
                                            <th>{{ "Reference stock"|trans }}</th>
                                            <th>{{ "Prod date"|trans }}</th>
                                            <th>{{ "Valid date"|trans }}</th>
                                            <th>{{ "Old quantity"|trans }}</th>
                                            <th>{{ "Update quantity"|trans }}</th>
                                            <th>{{ "Quantity alerte"|trans }}</th>
                                            <th>{{ "Unit price"|trans }}</th>
                                            {#<th>{{ "Total price"|trans }}</th>#}
                                            {#<th>{{ "Actions"|trans }}</th>#}
                                        </tr>
                                    </thead>
                                    <tbody>

                                   {# {% for line_stock in line_stocks %}
                                        <tr>
                                            <td>{{ line_stock.id }}</td>

                                            {% for linePurchase in linePurchases %}
                                               <td>{{ line_stock.linePurchase.article }}</td>
                                                <td>{{ line_stock.linePurchase.article.reference }}</td>
                                            {% endfor %}
                                            <td>{{ line_stock.prodDate ? line_stock.prodDate|date('Y-m-d') : ''  }}</td>
                                            <td>{{ line_stock.validDate ? line_stock.validDate|date('Y-m-d') : ''  }}</td>
                                            <td>{{ line_stock.oldQty }}</td>
                                            <td>{{ line_stock.qtyUpdate }}</td>
                                            <td>{{ line_stock.quantityAlerte }}</td>

                                            <td>
                                                <a href="{{ path('line_stock_show', {'id': line_stock.id}) }} " class="btn btn-primary btn-block"><i class="fa fa-eye" style="margin-left: 2rem"></i>{{  "show" | trans }}</a>
                                                <a href="{{ path('line_stock_edit', {'id': line_stock.id}) }}" class="btn btn-warning btn-block"><i class="fa fa-edit" style="margin-left: 2rem"></i>{{  "edit" | trans }}</a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr class="text-center">
                                            <td colspan="12">  {{ "no records found"|trans }}</td>
                                        </tr>
                                    {% endfor %}#}
                                   {% for line_stock in line_stocks %}
                                       <tr>
                                           <td>{{ line_stock.id }}</td>
                                           <td>{{ line_stock.date ? line_stock.date|date('Y-m-d') : ''  }}</td>

                                               <td>{{ line_stock.linePurchase.article }}</td>
                                               <td>{{ line_stock.reference }}</td>

                                           <td>{{ line_stock.prodDate ? line_stock.prodDate|date('Y-m-d') : ''  }}</td>
                                           <td>{{ line_stock.validDate ? line_stock.validDate|date('Y-m-d') : ''  }}</td>
                                           <td>{{ line_stock.oldQty }}</td>
                                           <td>{{ line_stock.qtyUpdate }}</td>
                                           <td>{{ line_stock.quantityAlerte }}</td>
                                           <td>{{ line_stock.linePurchase.unitPrice }}</td>

                                           {#<td></td>#}

                                          {# <td>
                                               <a href="{{ path('line_stock_show', {'id': line_stock.id}) }} " class="btn btn-primary btn-block"><i class="fa fa-eye" style="margin-left: 2rem"></i>{{  "show" | trans }}</a>
                                               <a href="{{ path('line_stock_edit', {'id': line_stock.id}) }}" class="btn btn-warning btn-block"><i class="fa fa-edit" style="margin-left: 2rem"></i>{{  "edit" | trans }}</a>
                                           </td>#}
                                       </tr>
                                   {% else %}
                                       <tr class="text-center">
                                           <td colspan="12">  {{ "no records found"|trans }}</td>
                                       </tr>
                                   {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {% include('layouts/footer.html.twig') %}
        </div>
    </div>
    <div id="lock_screen">
        <table>
            <tr>
                <td>
                    <div class="clock"></div>
                    <span class="unlock">
                    <span class="fa-stack fa-5x">
                      <i class="fa fa-square-o fa-stack-2x fa-inverse"></i>
                      <i id="icon_lock" class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                </span>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}

