<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h3 class="modal-title" id="myModalLabel">{{ "Create new employee" |trans }}</h3>
            </div>
            <div class="modal-body">
                {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left'}}) }}
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ "Name" |trans }}
                        <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(form.name,{'attr': {'class':'form-control col-md-7 col-xs-12'} }) }}
                        <div class="invalid-feedback text-danger">{{ form_errors(form.name) }}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ "Activity" |trans }}
                        <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(form.activity,{'attr': {'class':'form-control col-md-7 col-xs-12'} }) }}
                        <div class="invalid-feedback text-danger">{{ form_errors(form.activity) }}</div>

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ "Phone" |trans }}
                        <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(form.phone,{'attr': {'class':'form-control col-md-7 col-xs-12'} }) }}
                        <div class="invalid-feedback text-danger">{{ form_errors(form.phone) }}</div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="register"><i class="fa fa-save" style="margin-left: 2rem"></i>{{ button_label|default('Save')|trans }}</button>
                <a href="{{ path('employee_new') }}" class="btn btn-default" data-toggle="popover"><i class="fa fa-backward" style="margin-left: 2rem"></i>{% trans %} back to list {% endtrans %}</a>

            </div>

        </div>
    </div>
</div>
{{ form_end(form) }}
