
{% extends 'base.html.twig' %}

{% block title %} {{ app.user.email|upper }} {% endblock %}
{% block body_class %} class="nav-md" {% endblock %}

{% block body %}
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col hidden-print">
                {% include('layouts/sidebar.html.twig') %}
            </div>
            {% include('layouts/navbar.html.twig') %}
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="page-title">
                    <div class="title_left">
                        <h3>{{ "Create new budget"|trans }}</h3>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_content">
                                <br/>

                                {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left'}}) }}

                                <div class="form-group"> <!-- Date input -->
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ "Date"|trans }}
                                    </label>
                                    <div class="col-md-4 col-sm-4 col-xs-8">
                                        <span id="js-datepicker">{{ form_widget(form.year) }}</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ "Amount"|trans }}
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ form_widget(form.amount,{'attr': {'class':'form-control col-md-7 col-xs-12'} }) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ "Year name"|trans }}
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ form_widget(form.name,{'attr': {'class':'form-control col-md-7 col-xs-12'} }) }}
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fa fa-save" style="margin-left: 2rem"></i>{{ button_label|default('Save')|trans }}</button>
                                        <a href="{{ path('budget_index') }}" class="btn btn-default" data-toggle="popover">
                                            <i class="fa fa-backward" style="margin-left: 2rem"></i>{% trans %} back to list {% endtrans %}</a>
                                    </div>
                                </div>

                                {{ form_end(form) }}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include('layouts/footer.html.twig') %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function(){

            $('.js-datepicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                datesDisabled: ['11/06/2017', '11/21/2017']
            });
            // Getter
            // var dateFormat = $( '.selector' ).datepicker( 'option', 'dateFormat' );
            // Setter
            //$( '.selector' ).datepicker( 'option', 'dateFormat', 'dd/mm/yyyy' );
        });
    </script>
{% endblock %}