{% extends 'base.html.twig' %}

{% block title %} {{ app.user.email|upper }} {% endblock %}
{% block body_class %} class="nav-md" {% endblock %}

{% block body %}
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col hidden-print">
            {% include('layouts/sidebar.html.twig') %}
        </div>
        {% include('layouts/navbar.html.twig') %}
        <!-- page content -->
        <div class="right_col" role="main">
            <div class="page-title">
                <div class="title_left">
                    <h3>تفاصيل المشتريات</h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="...البحث عن">
                            <span class="input-group-btn">
                      <button class="btn btn-default" type="button">بحث</button>
                    </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2> جدول المشتريات</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">تنظیمات 1</a></li>
                                        <li><a href="#">تنظیمات 2</a></li>
                                    </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <p class="text-muted font-13 m-b-30">
                                <a href="{{ path('purchase_index') }}" class="btn btn-success">{{ "retour"|trans }}</a>
                            </p>
                            <table id="datatable-buttons" class="table table-striped table-bordered">
                                <thead>

                                <tr>
                                    <th>{{ "Id"|trans }}</th>
                                    <th>{{ "Article"|trans }}</th>
                                    <th>{{ "Quantity required"|trans }}</th>
                                    <th>{{ "Quantity delivred"|trans }}</th>

                                    {#<th>{{ "Unit"|trans }}</th>#}
                                    <th>{{ "Unit price"|trans }}</th>
                                    <th>{{ "Tax"|trans }}</th>
                                    <th>{{ "Total price"|trans }}</th>
                                    <th>{{ "Prod date"|trans }}</th>
                                    <th>{{ "Valid date"|trans }}</th>
                                    <th>{{ "Technical confirmity"|trans }}</th>
                                    <th>{{ "Remarque"|trans }}</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for linePurchase in linePurchases %}
                                <tr>

                                    <td>{{ linePurchase.id }}</td>
                                    <td>{{ linePurchase.article }}</td>
                                    <td>{{ linePurchase.quantityRequired }}</td>
                                    <td>{{ linePurchase.quantityDelivred }}</td>
                                    {#<td>{{ linePurchase.unit }}</td>#}
                                    <td>{{ linePurchase.unitPrice }}</td>
                                    <td>{{ linePurchase.tax }}</td>
                                    <td>{{ linePurchase.TotalPrice }}</td>
                                    <td>{{ linePurchase.production }}</td>
                                    <td>{{ linePurchase.validation }}</td>
                                    <td>{{ linePurchase.technicalConfirmity }}</td>
                                    <td>{{ linePurchase.remarque }}</td>

                                    {#<td>
                                    <a href="{{ path('line_purchase_show', {'id': line_purchase.id}) }}" class="btn btn-success">show</a>
                                    <a href="{{ path('line_purchase_edit', {'id': line_purchase.id}) }}" class="btn btn-warning">edit</a>
                                </td>#}
                                </tr>
                                {% else %}
                                <tr>
                                    <td colspan="6">{{ "no records found"|trans }}</td>
                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {% include('layouts/footer.html.twig') %}
    </div>
</div>
<div id="lock_screen">
    <table>
        <tr>
            <td>
                <div class="clock"></div>
                <span class="unlock">
                    <span class="fa-stack fa-5x">
                      <i class="fa fa-square-o fa-stack-2x fa-inverse"></i>
                      <i id="icon_lock" class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                </span>
            </td>
        </tr>
    </table>
</div>
{% endblock %}
