{% extends 'base.html.twig' %}

{% block title %}LinePurchase{% endblock %}

{% block body %}
    <h1>LinePurchase</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ line_purchase.id }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ line_purchase.quantity }}</td>
            </tr>
            <tr>
                <th>Unit</th>
                <td>{{ line_purchase.unit }}</td>
            </tr>
            <tr>
                <th>Unit_price</th>
                <td>{{ line_purchase.unitPrice }}</td>
            </tr>
            <tr>
                <th>Tax</th>
                <td>{{ line_purchase.tax }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('line_purchase_index') }}">back to list</a>

    <a href="{{ path('line_purchase_edit', {'id': line_purchase.id}) }}">edit</a>

    {{ include('line_purchase/_delete_form.html.twig') }}
{% endblock %}
