<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>طـلـب تـزود</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #000;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>
<body style="font-family:' arial', sans-serif">

{% include('pdf/header.html.twig') %}


{% for demand in demands %}

        <h3 style="text-align: left"> التاريخ: {{ demand.date ? demand.date|date('Y/m/d') : '' }}</h3>
        <h2 style="text-align: center">طـلـب تـزود</h2>
        <br>
        <br>
        <br>
        <br>
        {#<h3 style="text-align: right"> طـلـب تـزود عدد: {{ lineDemand.demand.number }}</h3>#}
        <h3 style="text-align: right">المزوّد:   {{ demand.supplier }} </h3>
        <h3 style="text-align: right"> القسط: {{ demand.tranche }}</h3>

{% endfor  %}



<br>
<br>
<table>
    <tr>
        <th style="text-align: center" >{{ "Article"|trans }}</th>
        <th style="text-align: center">{{ "Quantity"|trans }}</th>
        <th style="text-align: center">{{ "Date"|trans }}</th>
        <th style="text-align: center">{{ "Remarque"|trans }}</th>

    </tr>
    {% for lineDemand in lineDemands %}

        <tr>

            <td style="text-align: center">{{ lineDemand.article }}</td>
            <td style="text-align: center">{{ lineDemand.quantity }}</td>
            <td style="text-align: center">{{ lineDemand.demand.date? lineDemand.demand.date|date('Y/m/d') : '' }}</td>
            <td style="text-align: center">{{ lineDemand.remarque }}</td>
        </tr>
    {% endfor %}


</table>
<br>
<br>
<h4 style="text-align: center">الإمضـــــــاء</h4>
<h4 style="text-align: center">رئيس الوحدة</h4>
</body>
</html>