<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #000;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>


<body style="font-family:Arial">

{% include('pdf/header.html.twig') %}

{% for line_exitt in line_exitts %}
    {% if loop.first %}
    <h3 style="text-align: left"> التاريخ: {{ line_exitt.exitt.date ? line_exitt.exitt.date|date('Y/m/d') : '' }}</h3>

    <h2 style="text-align: center">وصل خروج</h2>
    <h3 style="text-align: right"> وصل خروج عدد: {{ line_exitt.exitt.number }}</h3>


    <h3 style="text-align: right"> المستفيد: {{ line_exitt.exitt.employee }}</h3>
{% endif %}
{% endfor  %}

<br>
<br>

<table>

    <thead>
    <tr>

        <th style="text-align: center" >{{ "Name of article"|trans }}</th>
        {#<th align="center">{{ "Quantity in stock"|trans }}</th>#}
        <th style="text-align: center">{{ "Quantity"|trans }}</th>
        {#<th>{{ "Quantity remaining"|trans }}</th>#}
        <th style="text-align: center">{{ "Unit price"|trans }}</th>
        {#<th style="text-align: center">{{ "Tax"|trans }}</th>#}
        <th style="text-align: center">{{ "Total price"|trans }}</th>

    </tr>
    </thead>


    <tbody>
   {# {% set toal = 0 %}
    {% set somme = 0 %}#}
    {% for line_exitt in line_exitts %}

        <tr>

             <td style="text-align: center">{{ line_exitt.article }}</td>

            {#<td>{{ line_stock.quantity }}</td>#}

            <td style="text-align: center">{{ line_exitt.quantity }}</td>
            {#<td>{{ line_stock.unit }}</td>#}
            <td style="text-align: center">{{ line_exitt.unitPrice }}</td>
            {#<td style="text-align: center">{{ line_exitt.tax }}</td>#}
            <td style="text-align: center">{% set total = line_exitt.quantity * line_exitt.unitPrice %} {{total}} </td>
            {#<td style="text-align: center">{{ line_exitt.totalPrice }}</td>#}

        </tr>
   {% if loop.last %}
        <tr>
            <td colspan="3" style="text-align: center">{{ "Total price"|trans }}</td>
               {#<td> {% set somme = total + somme %}
                   {{somme}}</td>#}
            <td style="text-align: center">{{ line_exitt.exitt.totalPrice }}</td>
        </tr>
   {% endif %}
    {% endfor %}
    </tbody>
</table>
<br>
<br>
<h4 style="text-align: center">الإمضـــــــاء</h4>
<h4 style="text-align: center">رئيس الوحدة</h4>
</body>

</html>