<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #000;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>
<h4 style="text-align: right">  الجمهورية التونسية </h4>
<body style="font-family:Arial">

{% for vb in institution %}

    {% if loop.first %}
        <h4 style="text-align: right">   {{ vb.ministry }} </h4>
        <h4 style="text-align: right">    {{ vb.office }}</h4>
        <h4 style="text-align: right">  المؤسسة التربوية:  {{ vb.name }}</h4>
    {% endif %}
{% endfor %}
{#   {% for line_purchase in line_purchases %}

<h3 style="text-align: right">وصل دخول عدد:{{ line_purchase.purchase }}</h3>

<h3 style="text-align: right"> المزود: {{ line_purchase.purchase.supplier }}</h3>
<h3 style="text-align: right">المعرف الجبائي:....... </h3>
<h3 style="text-align: right">القسط:.........................................</h3>
<h3 style="text-align: right"> .................المؤسسة التربوية:</h3>

<br>
<br>
{% endfor  %}#}

{#{% for exitt in exitts %}
<h3 style="text-align: right"> التاريخ: {{ exitt.date ? exitt.date|date('Y-m-d') : '' }}</h3>
{% endfor  %}#}

{% for line_exitt in line_exitts %}
    {% if loop.first %}
        <h3 style="text-align: left"> التاريخ: {{ line_exitt.exitt.date ? line_exitt.exitt.date|date('Y/m/d') : '' }}</h3>

        <h2 style="text-align: center">إذن وقتي لخروج المواد الغذائيّة</h2>

    {% endif %}
{% endfor  %}

<br>
<br>

<table>

    <thead>
    <tr>

        <th style="text-align: center" >{{ "Name of article"|trans }}</th>
        <th align="center">{{ "Quantity in stock"|trans }}</th>
        <th>{{ "Quantity"|trans }}</th>
        <th style="text-align: center">{{ "Quantity remaining"|trans }}</th>

    </tr>
    </thead>


    <tbody>
    {# {% set toal = 0 %}
     {% set somme = 0 %}#}
    {% for line_exitt in line_exitts %}

        <tr>
            <td style="text-align: center">{{ line_exitt.article }}</td>
            {#<td>{{ line_stock.quantity }}</td>#}

            <td style="text-align: center">{{ line_exitt.quantity }}</td>
            {% for line_exitt.lineStock in line_stocks %}
            <td style="text-align: center">{{ lineStock.qty_update }}</td>
            <td style="text-align: center">{{ lineStock.qty_update - line_exitt.quantity  }}</td>
            {#<td style="text-align: center">{% set total = line_exitt.quantity * line_exitt.unitPrice %} {{total}} </td>#}
            {#<td style="text-align: center">{{ line_exitt.totalPrice }}</td>#}

        </tr>
        {% if loop.last %}
            <tr>
                <td colspan="3" style="text-align: center">{{ "Total price"|trans }}</td>
                {#<td> {% set somme = total + somme %}
                    {{somme}}</td>#}
                <td style="text-align: center">{{ line_exitt.exitt.totalPrice }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
<br>
<br>
<h4 style="text-align: center">الإمضـــــــاء</h4>
<h4 style="text-align: center">رئيس الوحدة</h4>
</body>

</html>