<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #000;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>
<body style="font-family:Arial">

{% include('pdf/header.html.twig') %}
<h2 style="text-align: center">إذن وقتي لخروج المواد الغذائيّة</h2>
{% for menu in menus %}

    <h3 style="text-align: left"> اليوم: {{ menu.day|trans }}</h3>

{% endfor  %}
{% for line_exitt in line_exitts %}
    {% if loop.first %}
    <h3 style="text-align: left"> التاريخ: {{ line_exitt.exitt.date | date('d-m-Y')  }}</h3>
    {% endif %}
{% endfor %}

<br>
<br>
<h4 style="text-align: center">{{ "Menu today"|trans }}</h4>
<table>
    <thead>
    <tr>
        <th style="text-align: center" >{{ "Breakfast"|trans }}</th>
        <th style="text-align: center">{{ "Lunch"|trans }}</th>
        <th style="text-align: center">{{ "Dinner"|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for menu in menus %}
        <tr>
            <td style="text-align: center">{{ menu.breakfast }}</td>
            <td style="text-align: center">{{ menu.lunch }}</td>
            <td style="text-align: center">{{ menu.dinner }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>

<br>
<br>
<br>
<br>
<h4 style="text-align: center">{{ "Exit today"|trans }}</h4>
<table>
    <thead>
    <tr>
        <th style="text-align: center" >{{ "Name of article"|trans }}</th>
        <th align="center">{{ "Quantity"|trans }}</th>
        <th align="center">{{ "Quantity exitt"|trans }}</th>
        <th style="text-align: center">{{ "Quantity remaining"|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for lineExitt in line_exitts %}

        {% for lineStock in lineExitt.getLineStocks() %}
        <tr>
            <td style="text-align: center">{{ lineExitt.article }}</td>
            <td style="text-align: center">{{ lineStock.qtyUpdate}}</td>
            <td style="text-align: center">{{ lineExitt.quantity }}</td>
            <td style="text-align: center">{{ lineStock.qtyUpdate - lineExitt.quantity  }}</td>
        </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
<br>
<br>
<h4 style="text-align: center">الإمضـــــــاء</h4>
<h4 style="text-align: center">رئيس الوحدة</h4>
</body>

</html>