<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #000;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>
<h4 style="text-align: right">  الجمهورية التونسية </h4>
<body style="font-family:Arial">

{% for vb in institution %}

    {% if loop.first %}
        <h4 style="text-align: right">   {{ vb.ministry }} </h4>
        <h4 style="text-align: right">    {{ vb.office }}</h4>
        {#<h4 style="text-align: right">  المؤسسة التربوية:  {{ vb.name }}</h4>#}
        <h4 style="text-align: right">   {{ vb.name }}</h4>

    {% endif %}
{% endfor %}
{#   {% for line_purchase in line_purchases %}

<h3 style="text-align: right">وصل دخول عدد:{{ line_purchase.purchase }}</h3>

<h3 style="text-align: right"> المزود: {{ line_purchase.purchase.supplier }}</h3>
<h3 style="text-align: right">المعرف الجبائي:....... </h3>
<h3 style="text-align: right">القسط:.........................................</h3>
<h3 style="text-align: right"> .................المؤسسة التربوية:</h3>

<br>
<br>
{% endfor  %}#}

{#{% for exitt in exitts %}
<h3 style="text-align: right"> التاريخ: {{ exitt.date ? exitt.date|date('Y-m-d') : '' }}</h3>
{% endfor  %}#}

{#{% for line_exitt in line_exitts %}
    {% if loop.first %}
        <h3 style="text-align: left"> التاريخ: {{ line_exitt.exitt.date ? line_exitt.exitt.date|date('Y/m/d') : '' }}</h3>

        <h2 style="text-align: center">إذن وقتي لخروج المواد الغذائيّة</h2>

    {% endif %}
{% endfor  %}#}
<h2 style="text-align: center">إذن وقتي لخروج المواد الغذائيّة</h2>
{#{% for menu in menus %}

    <h3 style="text-align: left"> اليوم: {{ menu.day|trans }}</h3>

{% endfor  %}#}
{% for line_exitt in line_exitts %}
    {% if loop.first %}
    <h3 style="text-align: left"> التاريخ: {{ line_exitt.exitt.date | date('d-m-Y')  }}</h3>
    {% endif %}
{% endfor %}

<br>
<br>
<h4 style="text-align: center">{{ "Menu today"|trans }}</h4>
<table>
    <thead>
    <tr>
        <th style="text-align: center" >{{ "Breakfast"|trans }}</th>
        <th style="text-align: center">{{ "Lunch"|trans }}</th>
        <th style="text-align: center">{{ "Dinner"|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {#{% for menu in menus %}
        <tr>

            <td style="text-align: center">{{ menu.breakfast }}</td>
            <td style="text-align: center">{{ menu.lunch }}</td>
            <td style="text-align: center">{{ menu.dinner }}</td>
        </tr>
    {% endfor %}#}

    </tbody>
</table>

<br>
<br>
<br>
<br>

<table>
    <thead>
    <tr>
        <th style="text-align: center" >{{ "Name of article"|trans }}</th>
        <th align="center">{{ "Quantity in stock"|trans }}</th>
        <th>{{ "Quantity"|trans }}</th>
        <th style="text-align: center">{{ "Quantity remaining"|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for lineExitt in line_exitts %}

        {% for lineStock in line_stocks %}
            {#{% if loop.first %}#}
        <tr>
            <td style="text-align: center">{{ lineStock.linePurchase.article }}</td>

            <td style="text-align: center">{{ lineStock.qtyUpdate}}</td>
            <td style="text-align: center">{{ lineExitt.quantity }}</td>
            <td style="text-align: center">{{ lineStock.qtyUpdate - lineExitt.quantity  }}</td>
        </tr>
             {#{% endif %}#}
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
<br>
<br>
<h4 style="text-align: center">الإمضـــــــاء</h4>
<h4 style="text-align: center">رئيس الوحدة</h4>
</body>

</html>