<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>طـلـب تـزود</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #000;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>
<body style="font-family:Arial">
<h4 style="text-align: right">  الجمهورية التونسية </h4>


{% for vb in institution %}

    {% if loop.first %}

        <h4 style="text-align: right">   {{ vb.ministry }} </h4>
        <h4 style="text-align: right">    {{ vb.office }}</h4>
        <h4 style="text-align: right">    {{ vb.name }}</h4>
    {% endif %}



{% endfor %}

{% for requestSupplied in requestSupplieds %}

        <h3 style="text-align: left"> التاريخ: {{ requestSupplied.date ? requestSupplied.date|date('Y/m/d') : '' }}</h3>
        <h2 style="text-align: center">طـلـب تـزود</h2>
        <br>
        <br>
        <br>
        <br>
        {#<h3 style="text-align: right"> طـلـب تـزود عدد: {{ lineRequestSupplied.requestSupplied.number }}</h3>#}
        <h3 style="text-align: right"> المزوّد: {{ requestSupplied.supplier }}</h3>
        <h3 style="text-align: right"> القسط: {{ requestSupplied.tranche }}</h3>

{% endfor  %}

{% for vb in institution %}

    {% if loop.first %}
        <h4 style="text-align: right">  المؤسسة التربوية:  {{ vb.name }}</h4>
        <h4 style="text-align: right">  العنوان: {{ vb.address }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  الهاتف:  {{ vb.phone }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  الفاكس: {{ vb.fax }}</h4>
       {# <h4 style="text-align: right"> الهاتف:   {{ vb.phone }}</h4>
        <h4 style="text-align: right"> الفاكس:   {{ vb.fax }}</h4>#}

    {% endif %}
{% endfor %}

<br>
<br>
<table>
    <tr>
        <th style="text-align: center" >{{ "Article"|trans }}</th>
        <th style="text-align: center">{{ "Quantity"|trans }}</th>
        <th style="text-align: center">{{ "Datetime"|trans }}</th>
        <th style="text-align: center">{{ "Remarque"|trans }}</th>

    </tr>
    {% for lineRequestSupplied in lineRequestSupplieds %}

        <tr>

            <td style="text-align: center">{{ lineRequestSupplied.article }}</td>
            <td style="text-align: center">{{ lineRequestSupplied.quantity }}</td>
            <td style="text-align: center">{{ lineRequestSupplied.requestSupplied.date? lineRequestSupplied.requestSupplied.date|date('Y/m/d') : '' }}</td>
            <td style="text-align: center">{{ lineRequestSupplied.remarque }}</td>
        </tr>
    {% endfor %}


</table>
<br>
<br>
<h4 style="text-align: center">الإمضـــــــاء</h4>
<h4 style="text-align: center">رئيس الوحدة</h4>
</body>
</html>