
{% extends 'base.html.twig' %}

{% block title %} {{ app.user.email|upper }} {% endblock %}
{% block body_class %} class="nav-md" {% endblock %}

{% block body %}
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col hidden-print">
                {% include('layouts/sidebar.html.twig') %}
            </div>
            {% include('layouts/navbar.html.twig') %}
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="page-title">
                    <div class="title_left">
                        <h3>{{ "Create new article"|trans }}</h3>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_content">
                                <br/>
                                {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left'}}) }}

                                {# <fieldset>
                                     <div class="form-group">
                                         <div class="controls">
                                             <div class="col-md-11 xdisplay_inputx form-group has-feedback">
                                                 <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ "Date"|trans }}
                                                     <span class="required">*</span>
                                                 </label>
                                                 <input type="text" class="form-control has-feedback-left"
                                                        id="single_cal1" placeholder="First Name"
                                                        aria-describedby="inputSuccess2Status">
                                                 <span class="fa fa-calendar-o form-control-feedback left"
                                                       aria-hidden="true"></span>
                                                 <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                             </div>
                                         </div>
                                     </div>
                                 </fieldset>#}

                                {#<div class="form-group">

                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ "Date"|trans }}
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-4 col-sm-4 col-xs-6 xdisplay_inputx control-group has-feedback">

                                            <input type="text" class="form-control has-feedback-left"
                                                   id="single_cal1"
                                                   aria-describedby="inputSuccess2Status">
                                            <span class="fa fa-calendar-o form-control-feedback left"
                                                  aria-hidden="true"></span>
                                            <span id="inputSuccess2Status" class="sr-only">{{ form_widget(form.created_at) }}</span>

                                        </div>
                                </div>#}


                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ "Date"|trans }}
                                        <span class="required">*</span>
                                    </label>
                                    <div class=" col-md-4 col-sm-4 col-xs-6">
                                        {{ form_widget(form.created_at,{'attr': {'class':'js-datepicker '} }) }}
                                        <div class="invalid-feedback text-danger">{{ form_errors(form.created_at) }}</div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ "Name"|trans }}
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ form_widget(form.name,{'attr': {'class':'form-control col-md-7 col-xs-12'} }) }}
                                        <div class="invalid-feedback text-danger">{{ form_errors(form.name) }}</div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="reference_stock">{{ "Reference stock"|trans }}
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ form_widget(form.reference_stock,{'attr': {'class':'form-control col-md-7 col-xs-12'} }) }}
                                    </div>
                                    <span data-color="red" id="reference_result"></span>
                                    <div class="invalid-feedback text-danger">{{ form_errors(form.reference_stock) }}</div>

                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ "Unit"|trans }}
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ form_widget(form.unit,{'attr': {'class':'form-control col-md-7 col-xs-12'} }) }}
                                        <div class="invalid-feedback text-danger">{{ form_errors(form.unit) }}</div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ "Category"|trans }}
                                        <span  class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ form_widget(form.Category,{'attr': {'class':'form-control col-md-7 col-xs-12'} }) }}
                                        <div class="invalid-feedback text-danger">{{ form_errors(form.Category) }}</div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ "Initial quantity"|trans }}
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ form_widget(form.ini_qty,{'attr': {'class':'form-control col-md-7 col-xs-12'} }) }}
                                        <div class="invalid-feedback text-danger">{{ form_errors(form.ini_qty) }}</div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ "Quantity alerte"|trans }}
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ form_widget(form.min_qty,{'attr': {'class':'form-control col-md-7 col-xs-12'} }) }}
                                        <div class="invalid-feedback text-danger">{{ form_errors(form.min_qty) }}</div>

                                    </div>
                                </div>

                                <div class="form-group col-lg-12">
                                    <div class="ln_solid"></div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <button type="submit" class="btn btn-primary" id="register"><i class="fa fa-save" style="margin-left: 2rem"></i>{{ button_label|default('Save')|trans }}</button>
                                        <a href="{{ path('article_index') }}" class="btn btn-default" data-toggle="popover"><i class="fa fa-backward" style="margin-left: 2rem"></i>{% trans %} back to list {% endtrans %}</a>
                                    </div>
                                </div>
                                {{ form_end(form) }}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include('layouts/footer.html.twig') %}
        </div>
    </div>
{% endblock %}


